// Helpful overview of media queries and sass https://medium.com/geekculture/sass-media-queries-mixins-1c5e5f605704
$breakpoint-small: 480px;
$breakpoint-medium:  767px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1280px;

