@use "variables";
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: "Raleway", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1.5;
}

$textSize: calc(10px + 1.15vmin);
	// the calc above, with 1.6vmin, seems like close enough to the right balance for now
