$blueDark: #0e0c33;
$pinkLight: #ffdae5;
$pinkMedium: #ffc0cb;
$pinkDark: #ce959f;
$pinkVeryDark: #332729;
$tealMedium: #045365;
$lilacAlmostTransparent: #fd76f82d;
$lilacPartlyTransparent: #fd76f832;
$yellowAlmostTransparent: #fbffc910;
$yellowPartlyTransparent: #fdffdd25;
$yellowHalfTransparent: #fdffdd6e;
