@use "./media";
@use "./typography";
@use "./variables" as portfolio;

/* for testing: */

// main {
// 	@include media.min-width(small) {
// 		// background: yellow;

// 	}
// 	@include media.min-width(medium) {
// 		// background: red;
// 	}

// 	@include media.min-width(large) {
// 		// background: green;
// 	}
// }

/* */

// body {
// 	margin: 0;
// 	font-family: "Maven Pro", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
// 		"Helvetica Neue", sans-serif;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

code {
	font-family: "Courier Prime", "Courier New", monospace;
	border: 1px solid transparent;
	border-radius: 3px;
	background-color: rgb(160, 160, 160);
}

a {
	// display: block; // wtf why was this a block
	padding: 6px 12px;
	text-decoration: none;
	color: portfolio.$pinkLight;
}
a:visited {
	color: portfolio.$pinkMedium;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline solid portfolio.$pinkDark;
}

a:focus {
	outline: 1px solid white;
}

a:hover {
	cursor: pointer;
}

nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
	}
}

.skip-link {
	position: absolute;
	left: -9999px;
	z-index: 999;
	padding: 1em;
	background-color: white;
	color: portfolio.$blueDark;
	opacity: 0;
}
.skip-link:focus {
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
	color: portfolio.$blueDark;
	font-size: 1.2em;
	outline: none;
}
// 
html,
body {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	width: 100%;
}
* {
	box-sizing: border-box;
}

.App {
	height: 100%;
	width: 100%;
	display: flex;
	// flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	font-size: calc(10px + 1.2vmin);
	// the calc above, with 1.6vmin, seems like close enough to the right balance for now
	color: #fff6f6;
	background-color: #333355;
	background-image: portfolio.$spaceBackground;
	background-attachment: fixed;
	// background-size: cover;
	width: 100%;
	background-repeat: repeat;
	/* background by SVGBackgrounds.com */
}

/* accordion functionality from https://dev.to/sababg/css-only-accordion-59db */
input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.accordion {
	margin: 10px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px portfolio.$greyAlmostTransparent;
}
.accordion-label {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	font-weight: bold;
	cursor: pointer;
	background: #333;
	color: #fff;
}
.accordion-content {
	max-height: 0;
	padding: 0 1em;
	// background: portfolio.$blueDark;
	background-color: portfolio.$lilacTransparent;
	transition: all 0.35s;
}
input:checked ~ .accordion-content {
	max-height: 100vh;
	padding: 1em;
}

/* accordion functionality from https://dev.to/sababg/css-only-accordion-59db */

.portfolio-content {
	margin: 2rem;
	padding: 1rem;
	// display: flex;
	// flex-wrap: wrap;
}

section p {
	background-color: #006980;
	padding: 0.5rem;
	margin: 0.2rem;
}

img {
	width: 70vw;
	height: auto;
	object-fit: contain;
}

.buttonContainer {
	padding: 1rem;
	button {
		font-size: 1.5rem;
		padding: 0.3rem 1rem;
		border: 1px solid;
		border-color: transparent;
		background-color: portfolio.$tealMedium;
		color: portfolio.$pinkLight;
		cursor: pointer;
		animation: ping-surge 2.5s infinite ease-in-out;
	}
	// a {

	// }
	@keyframes ping-surge {
		0% {
			box-shadow: 0 0 0 0px portfolio.$yellowPartlyTransparent;
		}
		50% {
			box-shadow: 0 0 2px 1px portfolio.$yellowPartlyTransparent;
		}
		100% {
			box-shadow: 0 0px 0px 0px
				portfolio.$yellowPartlyTransparent;
		}
	}

	.ctaButton:hover {
		// background-color: #a85565;
		background-color: portfolio.$tealMedium;
	}
}

#site-navigation {
	// position relative to bottom or top is NECESSARY
	width: 100%;
	height: 2.5rem;
	position: sticky;
	bottom: 0px;
	background-color: portfolio.$blueDark;
}

/* style outline from Jonathon */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (added in normalize.css package)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/
